extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae neque dolore non deserunt error incidunt corrupti quod delectus? Libero excepturi ea perspiciatis voluptatum iste maiores dolore itaque ratione minus incidunt!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic doloremque consequuntur iusto nulla necessitatibus doloribus recusandae, error non qui est delectus quis reiciendis officia ex sed, voluptates veniam. Consequuntur, eum?
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros",class="img-fluid")
        
        include ./layout/bloques_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje de Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    .container        
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales            