extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, consectetur, eveniet, sapiente expedita veritatis similique ea a in delectus asperiores at tempora? Eum aliquid obcaecati eligendi autem modi corrupti asperiores.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quia laudantium magni atque! Consequatur ducimus amet, voluptatibus impedit quia quam rerum ipsum debitis eos dignissimos voluptas dolore perferendis nostrum odit.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit qui mollitia culpa porro voluptatem pariatur maiores dolorem possimus, unde sequi magnam ratione cum a aliquam, facere incidunt laboriosam praesentium laudantium!
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur praesentium eligendi fuga, suscipit eveniet eius neque possimus, reiciendis dolor, corrupti assumenda. Beatae facere mollitia exercitationem earum enim nam cumque neque!

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur praesentium eligendi fuga, suscipit eveniet eius neque possimus, reiciendis dolor, corrupti assumenda. Beatae facere mollitia exercitationem earum enim nam cumque neque!
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur praesentium eligendi fuga, suscipit eveniet eius neque possimus, reiciendis dolor, corrupti assumenda. Beatae facere mollitia exercitationem earum enim nam cumque neque!